<form method='post' enctype='multipart/form-data'>
    <input type='text' name='name'> <br>
    <input type="file" name="upload" id="upload"> <br>
    <input type="file" name="foto" id="foto"> <br>
    <button type='submit'>Hai</button>
</form>